@import url(https://fonts.googleapis.com/earlyaccess/notonaskharabic.css);
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body, html {
 height: 100%;
 padding: 0;
 margin: 0;
 font-size: 18px;
}
h3 {
    font-size: 34px! important;
}
h4, h3, h2 {
 font-weight: 600;
}
.ar {
 direction: rtl! important;
 text-align: right! important;
 font-family: 'Noto Naskh Arabic', serif; 
 font-size: 18px;
}
.ar p {
 direction: rtl! important;
 text-align: right! important;
 font-family: 'Noto Naskh Arabic', serif; 
}
.ar h3 {
 font-family: 'Cairo', sans-serif;
}
.ar h1 {
 font-family: 'Cairo', sans-serif;
}
@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
  display: block !important;
  }
}
