<!DOCTYPE html>
<html lang="{{ page.locale }}"  itemscope itemtype="http://schema.org/WebPage" itemid="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<head>
 {% include meta.html %}
</head>
<body onload="setModifiedDate(); setAccessedDate();" class="is-preload" itemscope itemtype="http://schema.org/WebPage">
  {{ content }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $('.dropdown-trigger').dropdown();
</script>
</body>
</html>
