---
layout: default
---

{% if page.date %}

<div class="navbar-fixed">
{% if page.uid %}
<ul id="dropdown1" class="dropdown-content">
  {% assign postsOrPages = site.posts 
    | concat: site.pages 
    | concat: site.ar 
    | where: "uid", page.uid 
    | sort: "locale" %}
  {% for item in postsOrPages %}
  <!-- filter /page/ -->
  {% unless item.url contains '/page/' %}
  <li class="active">
   <a href="{{ site.baseurl }}{{ item.url }}" class="{{ item.locale }}">{{ site.data.locales[item.locale].name }}</a>
  </li>
  {% else %}
  <li>
   <a href="{{ site.baseurl }}{{ item.url }}" class="{{ item.locale }}">{{ site.data.locales[item.locale].name }}</a>
  </li>
  {% endunless %}
  {% endfor %}
</ul>    
{% endif%}
  <nav class="nav-extended">      
    <div class="nav-wrapper nav-wrapper-custom black center">        
     <a href="{{ site.url }}" class="sidenav-trigger"><i class="material-icons left">arrow_back</i></a>
      <a class="dropdown-trigger right" href="#!" data-target="dropdown1">Languages<i class="material-icons right">arrow_drop_down</i></a>
  </div>
 </nav>
</div>

<div class="{{ page.locale }}" itemscope itemtype="http://schema.org/BlogPosting">

 <h3>{{ page.title }}</h3>
 {{ content }}
 {% if page.end %}
  {{ site.data.locales[page.locale].post.end }}
 {% endif %}
</div>

{% if page.muftis %}
  {% if page.muftis.chairman %}
  <dt>{{ site.data.locales[page.locale].post.chairman }}:</dt>
   {% for chairman in page.muftis.chairman %}
   <dd>
    {{ chairman.name }}
   </dd>
   {% endfor %}
   {% else %}
  {% endif %}
  {% if page.muftis.deputy_chairman %}
  <dt>{{ site.data.locales[page.locale].post.deputy_chairman }}:</dt>
   {% for deputy_chairman in page.muftis.deputy_chairman %}
   <dd>
    {{ deputy_chairman.name }}
   </dd>
   {% endfor %}
   {% else %}
  {% endif %}
  {% if page.muftis.members %}
  <dt>{{ site.data.locales[page.locale].post.members }}:</dt>
   {% for members in page.muftis.members %}
   <dd>
     {{ members.name }}
   </dd>
   {% endfor %}
   {% else %}
  {% endif %}
{% endif %}

{% endif %}
